<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>remedios-add</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>
  <form [formGroup]="productForm" (ngSubmit)="onFormSubmit(productForm.value)">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" formControlName="rem_nombre"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea formControlName="rem_desc"></ion-textarea>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Dosis</ion-label>
      <ion-input type="number" formControlName="rem_dosis"></ion-input>
    </ion-item>
    
    <ion-button type="submit" shape="round" color="primary" expand="block" [disabled]="!productForm.valid">Submit</ion-button>
  </form>
</ion-content>