ion-content {
    padding: 20px;
  }
  
  table {
    width: 100%;
    margin-top: 20px;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .mat-header-cell,
  .mat-cell {
    padding: 8px;
  }
  
  .mat-elevation-z8 {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  }
  
  /* Estilos para el menú */
  ion-menu {
    --min-width: 200px;
  }
  
  /* Estilos para el botón del menú en el header */
  ion-buttons {
    ion-menu-button {
      --color: #3880ff;
    }
  }
  
  /* Estilos para el contenido del menú */
  ion-menu ion-content {
    padding: 10px;
  }
  
  ion-menu ion-list {
    padding: 0;
  }
  
  ion-menu ion-item {
    --background: #f8f8f8;
    --color: #000;
  }
  
  ion-menu ion-item:hover {
    --background: #e0e0e0;
  }
  
  /* Estilos para el nuevo párrafo */
  .reminder-text {
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0; /* Espacio arriba y abajo del párrafo */
    color: #669ca5; /* Color de texto, puedes cambiarlo según tus preferencias */
  }
  